@import "components/header";
@import "components/listDishes";
@import "components/orderPanel";
@import "components/toolsPanel";
@import "variables";
body{
  background-size: contain;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
*{
  box-sizing: border-box;
}
.contentWrapper{
  width: 1260px;
  padding: 0 20px;
  margin: auto;
}
button{
  outline: none;
}

.contentBlockWrapper{
  background: #F5F5F5;
}
.contentBlock{
  padding: 15px 0 10px 0;
  height: 730px;
  //width: 100%;
}

.dark-theme {
  background: $mainDarkBackgroundColor;
}

.dark-theme .contentBlockWrapper{
  background: $mainDarkBackgroundColor;
}

