$mainBlueColor: #016BD8;
$mainRedColor: #ED312B;
$mainLightGreyColor: #F5F5F5;
$mainLightBlueColor: rgba(1,107,216,0.2);
$mainLightRedColor: rgba(237,49,43,0.2);
$mainDarkBackgroundColor: #242424;
$mainDarkButtonColor: #0D0D0D;
$mainDarkGrayColor: #3B3B3B;
$mainDarkGrayTextColor: #9A9A9A;
$mainDarkGrayPanelColor: #2B2B2B;