@import "../variables";
.toolsPanelWrapper{
  background: $mainLightGreyColor;
  .toolsPanel{
    height: 100px;
    padding: 0 0 20px 0;
    &__scrollBtn{
      display: inline-block;
      float: left;
      width: 95px;
      height: 100%;
      background: #F7F7F7;
      border: none;
      .toolsPanel__scrollIc{
        display: inline-block;
        width: 55px;
        height: 25px;
        background: url("../images/icons/toolsPanelScrollIc.png") no-repeat;
        background-size: 100% auto;
      }
      .toolsPanel__scrollTopIc{
        background-position: 0 0;
      }
    }
    &__scrollBottomBtn{
      margin-left: 5px;
      .toolsPanel__scrollBottomIc{
        background-position: 0 -28px;
      }
    }
    &__toolsButtons{
      display: inline-block;
      height: 100%;
      width: 695px;
      float: right;
      .toolsPanel__toolsBtn{
        .toolsPanel__toolsIc{
          display: inline-block;
          width: 35px;
          height: 33px;
          background: url("../images/icons/toolsBtnIcSprite1.png") no-repeat;
          background-size: 100% auto;
        }
        .toolsPanel__toolsBtnTitle{
          display: inline-block;
          font-size: 16px;
          width: 100%;
        }
      }
      .toolsPanel__stockBtn{
        .toolsPanel__stockIc{
          background-position: 0 0;
        }
      }
      .toolsPanel__discountsBtn{
        .toolsPanel__discountsIc{
          background-position: 0 -33px;
        }
      }
      .toolsPanel__actionsBtn{
        .toolsPanel__actionsIc{
          background-position: 0 -64px;
        }
      }
    }
    .toolsPanel__orderButtons{
      display: inline-block;
      margin-left: 55px;
      height: 100%;
      float: right;
      .toolsPanel__orderBtn{
        padding-top: 40px;
        font-size: 16px;
      }
      .toolsPanel__toWorkBtn{
        background: url("../images/icons/toWorkBtnIc.png") no-repeat;
        background-size: 30px;
        background-position: 48px 14px;
        background-color: white;
      }
      .toolsPanel__toPayBtn{
        background: url("../images/icons/toPayBtnIc.png") no-repeat;
        background-size: 30px;
        background-position: 48px 14px;
        background-color: white;
      }
    }
    .toolsPanel__toolsBtn, .toolsPanel__orderBtn{
      background: white;
      width: 125px;
      height: 100%;
      border: none;
    }
  }
}




.dark-theme .toolsPanelWrapper{
  background: $mainDarkBackgroundColor;
  .toolsPanel{
    &__scrollBtn{
      background: $mainDarkButtonColor;
      .toolsPanel__scrollIc{
        background: url("../images/icons/toolsPanelScrollIc.png") no-repeat;
        background-size: 100% auto;
      }
    }
    &__scrollBottomBtn{
      .toolsPanel__scrollBottomIc{
        background-position: 0 -28px;
      }
    }
    &__toolsButtons{
      .toolsPanel__toolsBtn{
        .toolsPanel__toolsIc{
          background: url("../images/icons/toolsBtnIcSprite-white.png") no-repeat;
          background-size: 100% auto;
        }
        .toolsPanel__toolsBtnTitle{
          color: white;
        }
      }
      .toolsPanel__stockBtn{
        .toolsPanel__stockIc{
          background-position: 0 0;
        }
      }
      .toolsPanel__discountsBtn{
        .toolsPanel__discountsIc{
          background-position: 0 -33px;
        }
      }
      .toolsPanel__actionsBtn{
        .toolsPanel__actionsIc{
          background-position: 0 -64px;
        }
      }
    }
    .toolsPanel__orderButtons{
      .toolsPanel__toWorkBtn{
        background: url("../images/icons/toWorkBtnIc-white.png") no-repeat;
        background-size: 30px;
        background-position: 48px 14px;
        background-color: $mainDarkButtonColor;
        color: white;
      }
      .toolsPanel__toPayBtn{
        background: url("../images/icons/toPayBtnIc-white.png") no-repeat;
        background-size: 30px;
        background-position: 48px 14px;
        background-color: $mainDarkButtonColor;
        color: white;
      }
    }
    .toolsPanel__toolsBtn, .toolsPanel__orderBtn{
      background: $mainDarkButtonColor;
    }
  }
}