.header {
  width: 100%;
}

.header .header__statusPanelWrapper {
  background: black;
}

.header .header__statusPanelWrapper .header__statusPanel {
  color: white;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  height: 30px;
  position: relative;
}

.header .header__statusPanelWrapper .header__statusPanel:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.header .header__statusPanelWrapper .header__statusPanel .header__dateInfo, .header .header__statusPanelWrapper .header__statusPanel .header__timeInfo {
  display: inline-block;
  padding: 0 20px;
  vertical-align: middle;
}

.header .header__statusPanelWrapper .header__statusPanel .header__dateInfo {
  padding: 0;
}

.header .header__statusPanelWrapper .header__statusPanel .header__dateTimeSeparator {
  border: 0.3px solid;
  display: inline-block;
  height: 14px;
  margin: auto 5px;
  vertical-align: middle;
}

.header .header__statusPanelWrapper .header__statusPanel .header__cashierInfoWrapper {
  display: inline-block;
  float: right;
  height: 100%;
}

.header .header__statusPanelWrapper .header__statusPanel .header__cashierInfoWrapper .header__cashierInfo {
  display: inline-block;
  height: 100%;
}

.header .header__statusPanelWrapper .header__statusPanel .header__cashierInfoWrapper .header__cashierInfo:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.header .header__statusPanelWrapper .header__statusPanel .header__cashierInfoWrapper .header__cashierInfo .header__cashierIndicator {
  display: inline-block;
  background: url("../images/icons/indicatorOnOff.png");
  height: 12px;
  width: 12px;
  background-size: cover;
  background-position: 0 0;
  vertical-align: middle;
  margin: 0 40px;
}

.header .header__navPanelWrapper {
  background: #F5F5F5;
}

.header .header__navPanelWrapper .header__navPanel {
  display: inline-block;
  height: 90px;
  padding: 10px 0;
  width: 100%;
}

.header .header__navPanelWrapper .header__navPanel .header__backButton {
  display: inline-block;
  height: 100%;
  width: 160px;
  float: left;
  border: none;
  background: url("../images/icons/arrowBackIc.png") white no-repeat;
  background-size: 30px;
  background-position: 30px;
  font-size: 15px;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs {
  display: inline-block;
  height: 100%;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList li:first-child a::before {
  content: none;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList li:last-child a::after {
  content: none;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList li {
  height: 100%;
  float: left;
  margin: 0 30px 0 10px;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList li:last-child .header__breadcrumbsLink {
  background: #006CE2;
  color: white;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList li:last-child .header__breadcrumbsLink::before {
  border-color: #006CE2 #006CE2 #006CE2 transparent;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  word-wrap: break-word;
  max-width: 80px;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink {
  background: white;
  text-decoration: none;
  position: relative;
  max-width: 140px;
  padding: 0 35px;
  height: 100%;
  display: inline-block;
  color: black;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink:hover {
  background: #ED312B;
  color: white;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -35px;
  border-width: 35px 0 35px 33px;
  border-style: solid;
  border-color: white white white transparent;
  left: -33px;
  display: inline-block;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink:hover::before {
  border-color: #ED312B #ED312B #ED312B transparent;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -35px;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 32px solid white;
  right: -32px;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink:hover::after {
  border-left-color: #ED312B;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink div {
  height: 100%;
  display: inline-block;
}

.header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink div::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.header .header__navPanelWrapper .header__navPanel .header__toolsPanel {
  display: inline-block;
  float: right;
  height: 100%;
}

.header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__menuButton, .header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__exitButton, .header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__changeThemeButton {
  display: inline-block;
  height: 100%;
  width: 95px;
  background: white;
  border: none;
  float: left;
  margin: 0 0 0 5px;
}

.header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__iconMenuBtn, .header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__iconExitBtn, .header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__iconChangeThemeBtn {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__iconMenuBtn {
  background: url(../images/icons/headerMenuIc.png) center no-repeat;
  background-size: 100% auto;
}

.header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__iconExitBtn {
  background: url(../images/icons/headerExitIc.png) center no-repeat;
  background-size: 100% auto;
}

.header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__iconChangeThemeBtn {
  background: url(../images/icons/darkThemeBtn.png) center no-repeat;
  background-size: 100% auto;
}

.dark-theme .header .header__navPanelWrapper {
  background: #242424;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__backButton {
  color: white;
  background: url("../images/icons/arrowBackIc-white.png") #0D0D0D no-repeat;
  background-size: 30px;
  background-position: 30px;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink {
  color: white;
  background: #0D0D0D;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink:hover {
  background: #ED312B;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink::before {
  border-color: #0D0D0D #0D0D0D #0D0D0D transparent;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink:hover::before {
  border-color: #ED312B #ED312B #ED312B transparent;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink::after {
  border-left: 32px solid #0D0D0D;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList .header__breadcrumbsLink:hover::after {
  border-left-color: #ED312B;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList li:last-child .header__breadcrumbsLink:hover {
  background: #006CE2;
  color: white;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__breadcrumbs .header__breadcrumbsList li:last-child .header__breadcrumbsLink:hover::before {
  border-color: #006CE2 #006CE2 #006CE2 transparent;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__menuButton, .dark-theme .header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__exitButton, .dark-theme .header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__changeThemeButton {
  background: #0D0D0D;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__iconMenuBtn {
  background: url(../images/icons/headerMenuIc-white.png) center no-repeat;
  background-size: 100% auto;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__iconExitBtn {
  background: url(../images/icons/headerExitIc.png) center no-repeat;
  background-size: 100% auto;
}

.dark-theme .header .header__navPanelWrapper .header__navPanel .header__toolsPanel .header__iconChangeThemeBtn {
  background: url(../images/icons/lightThemeBtn.png) center no-repeat;
  background-size: 100% auto;
}
